/* styles.css */

html, body {
  height: 100%;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb


}


/*
 Top Bar
*/

#buttons-container {
  position: relative;
  top: 13px;
  left: 50%;
  width: 313px;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: black;
  padding: 1px 8px 2px 8px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 15;
  height: 25px;
}

.button {
  align: center, center;
  padding: 1px 8px 6px 8px;
  align-text: center; center;
  color: #8aa89e;
  text-decoration: none; /* removes underline */
  position: relative;
  z-index: 1;
  opacity: 100%;
}

.button::before {
  align: center, center;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 15%;
  background-color: white;
  border-radius: 30px;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: width 0.3s cubic-bezier(0.5, -0.75, 0.25, 1.75), height 0.3s cubic-bezier(0.5, -0.75, 0.25, 1.75),  opacity 0.5s ease; /* animation transition for size opacity */
  /* for linear pattern replace 'cubic-bezier(#)' with 'ease'. */

  opacity: 0%;  /* starting opacity */
}

.button:hover::before {   /* button during transition */
  width: 100%;
  height: 70%;
  opacity: 100%;
  color: #8aa89e; /* text color */

}


.button:hover { /* the button while it is hovering */
  color:#555555; /* text color */

}

.button:not(:hover) {


  opacity: 100;
}

/*

Body

*/
.index-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.game-body {

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
  transition: color 0.3s ease;
  border-bottom-color: #ffffff;
}

nav ul li a:hover {
  color: #ffbd33;
  border-bottom-color: #ffbd33;
}

header {
  background-color: #061b30;
  background-image: url(images/site/Banner.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 0.5rem;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
  flex-grow: 1;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  max-width: 200px;
  margin: 55px;

}

.intro {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.intro-text {
  flex: 0 0 75%;
}

.intro-image {
  flex: 0 0 25%;
}

.intro-image img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contact-me-container{
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* animation and image grids */
.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 -5px;
}

.image-grid a {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* aspect ratio */
  position: relative;
  overflow: hidden;
}


.image-caption {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  background-color: white;
}

.mapImage-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 -5px;
}

.mapImage-grid a {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 60%; /*aspect ratio*/
  position: relative;
  overflow: hidden;
}

.mapImage-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  background-color: white;
}



@media (min-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 0 -7.5px;
  }
}

@media (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 -10px;
  }
}

.single-image {
  /* text-align: center;*/
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1rem;

}

.single-image img {
  max-height: 500px;
   width: auto;
   height: auto;
   display: block;
   margin: 0 auto;
}

.single-image {

}

.single-image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.graphicDesign-image-grid.thumbnail {
  max-width: 100px;
  height: auto;
  justify-content: center;
  cursor: pointer;
}

.graphicDesign-image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}


.thumbnail-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 5px;
  cursor: pointer;
}

.thumbnail-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

#meditate-single-image img {
  height: 40vh;
  width: auto;
  object-fit: cover;
}

/* collapsible */
.collapsible {
 background-color: #051E1E;
 color: #ffffff;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
}

/* Color of button if it is clicked and hover */
.active, .collapsible:hover {
 background-color: #0D2B2B;
 color: #ffbd33;
}

.content {
 padding: 0 18px;
 display: none;
 overflow: hidden;
 background-color: #f1f1f1;
}

.content.open {

  display: block;

}


/* Game Page Stuff */
.single-game {
  position: relative;
  padding-bottom: 60%; /* aspect ratio */
  height: 0;
  overflow: hidden;
}

.single-game iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

footer {

  bottom: 0;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /*This puts the Footer  to the bottom*/
  width: 100%;
}
