html, body {
    height: 100%;
    margin: 0;
}

.video {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
}

@media (orientation: landscape) {
    .video {
        height: auto;
        width: 100%;
        padding-top: 56.25%; /* 16:9 aspect ratio */
    }
}
